.input {
    &__wrapper {
        display: flex;
        position: relative;
        width: 100%;
        padding: 8px 16px;
        border-radius: 4px;
    }

    &__hidden-button {
        background: none;
        border: none;
        cursor: pointer;
        opacity: .4;
        padding: 0;
        outline: none !important;
        &:hover{
            transition: 0.4s;
            opacity: 1;
        }
    }

    &__input {
        width: 100%;
        border: none;
        border-radius: 20px;
        padding: 8px 14px;
        box-sizing: border-box;
        font-family: "Space Mono", monospace;
	    font-style: normal;
        font-size: 20px;
        color: $text-dark;
        font-weight: 700;
        background-color: $primary-light;


        &:focus {
            outline: none;
        }

        &.errors{
            border-color: red;
        }
    }

    &__errors {
        font-size: 12px;
        color: red;
        margin-top: 8p;
    }
}