$primary-main: #EEE5DA;
$primary-dark: #E2D6C9;
$primary-light: #FBF8F6;
$primary-contrast: #FFFFFF;

//Button
$button-primary: #F18966;
$button-primary-hover: #d4795a;
$button-secondary: #679089;
$button-secondary-hover: #52726d;

// Text
$text-primary: #917F74;
$text-secondary: #FFFFFF;
$text-dark: #76655a;

//Link
$link-primary: #917F74;
$link-secondary: #FFFFFF;
$link-hover: #c0694c;

$tablet-max-width: 1312px;
$mobile-max-width: 768px;