@import "/src/styles/variables.scss";

a {
    text-decoration: none;
}

.book-card {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        margin-top: 7px;
        color: $link-primary;
        font-size: 12px;
        font-weight: 600;
        transition: color 0.3s linear;

        &:hover {
            color: $link-hover;
        }
    }
}