.related-alice {
    &__container {
        width: 1200px;
        margin: 0 auto;
    }

    &__header {
        font-size: 27px;
        font-weight: 700;
        color: $text-dark;
        text-align: center;
        margin-top: 50px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;
    }
}

.modal {
    position: fixed;
    height: calc(100svh - 40px);
    width: calc(100svw - 40px);
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    
}